<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="~{/layout::header}">
        <!--        header-->
    </div>
    <div th:insert="~{/layout::navbar}">
        <!--        navbar-->
    </div>
    <div class="website-body">
        <!--        main-->
        <div th:replace="~{/layout::employee-left-panel}">
            <!--            left panel-->
        </div>
        <div class="main-content">
            <!--            content-->
            <h3 CLASS="text-center font-weight-bold text-success ml-auto mr-auto mb-3 mt-3">THÔNG TIN NHÂN VIÊN</h3>
            <table class="table table-striped col-9 ml-auto mr-auto">
                <tr>
                    <td>Mã số NV:</td>
                    <td th:text="${employee.id}"></td>
                </tr>
                <tr>
                    <td>Họ và tên:</td>
                    <td th:text="${employee.name}"></td>
                </tr>
                <tr>
                    <td>Ngày sinh:</td>
                    <td th:text="${employee.birthday}"></td>
                </tr>
                <tr>
                    <td>Số CMND:</td>
                    <td th:text="${employee.idCard}"></td>
                </tr>
                <tr>
                    <td>Lương:</td>
                    <td th:text="${#numbers.formatDecimal(employee.salary, 0, 'POINT', 0, 'COMMA')}"></td>
                </tr>
                <tr>
                    <td>Số điện thoại:</td>
                    <td th:text="${employee.phone}"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td th:text="${employee.email}"></td>
                </tr>
                <tr>
                    <td>Địa chỉ:</td>
                    <td th:text="${employee.address}"></td>
                </tr>
                <tr>
                    <td>Chức vụ:</td>
                    <td th:text="${employee.position.name}"></td>
                </tr>
                <tr>
                    <td>Bộ phận:</td>
                    <td th:text="${employee.department.name}"></td>
                </tr>
                <tr>
                    <td>Trình độ:</td>
                    <td th:text="${employee.educationDegree.name}"></td>
                </tr>
                <tr>
                    <td>Phân quyền:</td>
                    <td>
                        <th:block th:each="role : ${employee.appUser.userRoles}">
                            <p th:text="${role.appRole.name}"></p>
                        </th:block>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><a class="btn btn-primary" th:href="@{/employee/}">Quay lại</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div th:replace="~{/layout::footer}">
        <!--        footer-->
    </div>
</div>
</body>
</html>