<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid px-0">
    <div th:replace="~{layout::header}">
        <!--        header-->
    </div>
    <div th:insert="~{layout::navbar}">
        <!--        navbar-->
    </div>
    <div class="website-body px-0">
        <!--        main-->
        <div class="d-flex flex-column justify-content-start align-items-center mx-auto login-form">
            <img class="col-3 mt-5" src="/img/access-denied.jpg">
            <h4 class="text-center text-danger mt-4">Xin lỗi</h4>
            <h4 class="text-center text-danger mb-4">Bạn không được phép truy cập vào trang này</h4>
            <a class="btn btn-primary" href="/">Trang chủ</a>
        </div>
    </div>
    <div th:replace="~{layout::footer}">
        <!--        footer-->
    </div>
</div>
</body>
</html>