<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="layout::header">
        <!--        header-->
    </div>
    <div th:insert="layout::navbar">
        <!--        navbar-->
    </div>
    <div class="row">
        <!--        main-->
        <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
            <div>
                <label>Username: </label>
                <input type="text" name="username">
            </div>
            <div>
                <label>Password: </label>
                <input type="password" name="password">

            </div>
            <div>
                <label>Remember me </label>
                <input type="checkbox" name="remember-me">
            </div>
            <div>
                <input name="submit" type="submit" value="Login">
            </div>
        </form>
        <hr>
        <div th:if="${#request.getParameter('error') == true}">
            <span style="color: red">Tên đăng nhập hoặc mật khẩu không chính xác</span>
        </div>
    </div>
    <div>
        <!--        footer-->
    </div>
</div>
</body>
</html>