<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/resort_services/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="/resort_services/layout::header">
        <!--        header-->
    </div>
    <div th:insert="/resort_services/layout::navbar">
        <!--        navbar-->

    </div>
    <div class="row">
        <!--        main-->
        <form th:object="${user}" method="post" th:action="@{/login}">
            <div>
                <label>Username: </label>
                <input type="text" th:field="*{username}">
                <label th:if="${#fields.hasErrors('username')}"  th:errors="*{username}"></label>
            </div>
            <div>
                <label>Password: </label>
                <input type="password" th:field="*{password}">
                <label th:if="${#fields.hasErrors('password')}"  th:errors="*{password}"></label>
            </div>
            <div>
                <input type="checkbox" name="remember" value="true">
                <label>Remember me</label>
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
    <div>
        <!--        footer-->
    </div>
</div>
</body>
</html>