body{
    background-image: url("https://lh3.googleusercontent.com/pw/ACtC-3exfJZj7Jdl3RaGLuyoCDsG7J76IN9OWCUVvHqvyUe8yvKOeyz8Xmxfoce_bMSgGDd1_wMvNqMXQ4_SWt1GEpZK-OJGRbNg-ZPO2lpx0ZNuW1_soT7ZxVc5X8l4OEqIrBADKTbhgGLfDqucL-92QO6o=w1472-h920-no?authuser=0");
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 3px;
    color: blue;
}
.guest-table{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.gueststyle{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}
.inputstyle{
    width: 350px;
    font-family: Arial;
    font-size: 18px;
    margin: 2px;
    padding: 2px;
}
.divstyle{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    width: 700px;
    color: midnightblue;
    margin-left: auto;
    margin-right: auto;
    opacity: 80%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
}
.confirmationTable{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}