<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

</head>

<body>
  <h1>TypeScript Array</h1>
  <div>
    Open console to see more information
  </div>

  <ol>
    <li>
      <a href="index.html">Index</a>
    </li>
  </ol>
  <p>
    <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array">Tham khảo thêm về Array trong JavaScript</a>
  </p>
</body>

</html>
