<h2 class="text-center">User registration</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
  <div class="form-group row">
    <label class="col">
      Email
      <input type="email" class="form-control" formControlName="email">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
    Invalid email!
  </div>
  <fieldset formGroupName="pwGroup">
    <div class="form-group row">
      <label class="col">
        Password
        <input type="password" class="form-control" formControlName="password">
      </label>
    </div>
    <div class="form-group row">
      <label class="col">
        Confirm Password
        <input type="password" class="form-control" formControlName="confirmPassword">
      </label>
    </div>
  </fieldset>
  <div class="alert alert-danger" role="alert"
    *ngIf="registerForm.hasError('passwordnotmatch', ['pwGroup']) &&
      registerForm.get('pwGroup').touched">
    Password does not match!
  </div>
  <div class="form-group">
    <button class="btn btn-info" type="submit">Submit</button>
  </div>
</form>

<pre>
{{ registerForm.value | json}}
</pre>
