<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="~{/layout::header}">
        <!--        header-->
    </div>
    <div th:insert="~{/layout::navbar}">
        <!--        navbar-->
    </div>
    <div class="website-body">
        <!--        main-->
        <div th:replace="~{/layout::contract-left-panel}">
            <!--            left panel-->
        </div>
        <div class="main-content">
            <h3 CLASS="text-center font-weight-bold text-success ml-auto mr-auto mb-3 mt-3">DỊCH VỤ ĐI KÈM</h3>
            <form class="d-flex flex-column" th:object="${contractDetailDto}" method="post" th:action="@{/contract/saveContractDetail}">
                <input type="text" th:field="*{contract}" th:value="${contractDetailDto.contract.id}"
                       hidden>
                <table class="col-10 mr-auto ml-auto table table-striped">
                    <thead>
                    <tr class="font-weight-bold">
                        <td>Mã dịch vụ</td>
                        <td>Dịch vụ</td>
                        <td>Đơn giá</td>
                        <td>Số lượng</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="attachService, stat: ${contractDetailDto.attachServices.entrySet()}">
                        <tr>
                            <td th:text="${attachService.key.id}"></td>
                            <td th:text="${attachService.key.name}"></td>
                            <td th:text="${#numbers.formatDecimal(attachService.key.cost, 0, 'POINT', 0, 'COMMA')}"></td>
                            <td>
                                <input min="0" type="number" th:field="*{attachServices[__${stat.index+1}__]}"
                                       th:value="${contractDetailDto.attachServices[__${stat.index+1}__]}" required>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <input class="btn btn-outline-secondary mr-auto ml-auto" type="submit" value="Lưu">
            </form>
        </div>
    </div>
    <div th:replace="~{/layout::footer}">
        <!--        footer-->
    </div>
</div>
</body>
</html>