<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="~{/layout::header}">
        <!--        header-->
    </div>
    <div th:insert="~{/layout::navbar}">
        <!--        navbar-->
    </div>
    <div class="row">
        <!--        main-->
        <div th:replace="~{/layout::contract-left-panel}">
            <!--            left panel-->
        </div>
        <div class="col-sm-8 d-flex flex-column">
            <!--                        content--

                               Modal-->
            <div class="modal fade" id="serviceModelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Dịch vụ</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="service-modal-body">
                            Body
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="customerModelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Khách hàng</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="customer-modal-body">
                            Body
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column w-100">
                <h3 class="text-center bg-success text-white mr-auto ml-auto w-100">THÔNG TIN DỊCH VỤ</h3>
                <button type="button" class="text-center btn btn-outline-success mr-auto ml-auto"
                        id="btnModalService">Chọn
                </button>
                <br>
                <div id="service-div">
                    <table class="table table-striped" th:if="${contract.resortService != null}">
                        <tr>
                            <td>Mã dịch vụ:</td>
                            <td th:text="${contract.resortService.id}" id="selected-service-id"
                                th:value="${contract.resortService.id}"></td>
                        </tr>
                        <tr>
                            <td>Tên dịch vụ:</td>
                            <td th:text="${contract.resortService.name}"></td>
                        </tr>
                        <tr>
                            <td>Loại dịch vụ:</td>
                            <td th:text="${contract.resortService.serviceType.name}"></td>
                        </tr>
                        <tr>
                            <td>Giá:</td>
                            <td th:text="${#numbers.formatDecimal(contract.resortService.cost, 0, 'POINT', 0, 'COMMA')}"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="d-flex flex-column w-100">
                <h3 class="text-center bg-success text-white">THÔNG TIN KHÁCH HÀNG</h3>
                <button type="button" class="text-center btn btn-outline-success mr-auto ml-auto" id="btnModalCustomer">Chọn</button>
                <div id="customer-div">
                    <table class="table table-striped" th:if="${contract.customer != null}">
                        <tr>
                            <td>Mã khách hàng:</td>
                            <td th:text="${contract.customer.id}"></td>
                        </tr>
                        <tr>
                            <td>Tên khách hàng:</td>
                            <td th:text="${contract.customer.name}"></td>
                        </tr>
                        <tr>
                            <td>Loại khách hàng:</td>
                            <td th:text="${contract.customer.customerType.name}"></td>
                        </tr>
                        <tr>
                            <td>Ngày sinh:</td>
                            <td th:text="${contract.customer.birthday}"></td>
                        </tr>
                        <tr>
                            <td>SĐT:</td>
                            <td th:text="${contract.customer.phone}"></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td th:text="${contract.customer.email}"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <h3 class="text-center bg-success text-white">THÔNG TIN LƯU TRÚ</h3>
            <form class="w-100 mr-auto ml-auto" th:action="@{/contract/save}" method="post" th:object="${contract}">
                    <input type="text" th:field="*{id}" th:value="${contract.id}" hidden>
                <input id="service-id-form" type="text" th:field="*{resortService}"
                       th:value="${contract.resortService.id}" hidden>
                <input id="customer-id-form" type="text" th:field="*{customer}" th:value="${contract.customer.id}"
                       hidden>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <label class="col-sm-4">
                        <label class="col-sm-3 col-form-label" th:if="${#fields.hasErrors('resortService')}"
                               th:errors="*{resortService}"></label>
                    </label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <label class="col-sm-4">
                        <label class="col-sm-3 col-form-label" th:if="${#fields.hasErrors('customer')}"
                               th:errors="*{customer}"></label>
                    </label>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Ngày bắt đầu:</label>
                    <label class="col-sm-4">
                        <input type="date" class="form-control" th:field="*{startDate}"
                               th:value="${contract.startDate}">
                        <label class="col-sm-3 col-form-label" th:if="${#fields.hasErrors('startDate')}"
                               th:errors="*{startDate}"></label>
                    </label>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Ngày kết thúc:</label>
                    <label class="col-sm-4">
                        <input type="date" class="form-control" th:field="*{endDate}" th:value="${contract.endDate}">
                        <label class="col-sm-3 col-form-label" th:if="${#fields.hasErrors('endDate')}"
                               th:errors="*{endDate}"></label>
                    </label>
                </div>
                <div class="form-group text-center">
                    <label><input class="btn btn-primary" type="submit" value="Submit"></label>
                </div>
            </form>
        </div>
    </div>
    <div>
        <!--        footer-->
    </div>

    <script language="JavaScript">
        $(document).ready(function () {
            $("#btnModalService").click(function () {
                $.ajax({
                    type: "GET",
                    url: "/service/showServiceList",
                    dataType: "HTML",
                    success: function (data) {
                        $("#service-modal-body").html(data);
                        $("#serviceModelId").modal('show');
                    }
                })
            })

            $("#btnModalCustomer").click(function () {
                $.ajax({
                    type: "GET",
                    url: "/customer/showCustomerList",
                    dataType: "HTML",
                    success: function (data) {
                        $("#customer-modal-body").html(data);
                        $("#customerModelId").modal('show');
                    }
                })
            })
        })
    </script>

</div>
</body>
</html>