<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="~{/layout::header}">
        <!--        header-->
    </div>
    <div th:insert="~{/layout::navbar}">
        <!--        navbar-->
    </div>
    <div class="row">
        <!--        main-->
        <div th:replace="~{/layout::contract-left-panel}">
            <!--            left panel-->
        </div>
        <div class="col-sm-10">
<!--            content-->
            <table class="table table-stripe">
                <thead>
                    <tr>
                        <td>Mã Hợp đồng</td>
                        <td>Tên khách hàng</td>
                        <td>Tên dịch vụ</td>
                        <td>Ngày bắt đầu</td>
                        <td>Ngày kết thúc</td>
                        <td>Dịch vụ đi kèm</td>
                        <td>Số tiền</td>
                        <td>Chi tiết</td>
                        <td>Chỉnh sửa</td>
                        <td>Xóa</td>
                    </tr>
                </thead>
                <tbody>
                <th:block th:if="${contracts != null}">

                    <tr th:each="contract : ${contracts}">
                        <td th:text="${contract.id}"></td>
                        <td th:text="${contract.customer.name}"></td>
                        <td th:text="${contract.resortService.name}"></td>
                        <td th:text="${contract.startDate}"></td>
                        <td th:text="${contract.endDate}"></td>
                        <td>
                            <th:block th:each="detail: ${contract.contractDetails}">
                                <p th:text="${detail.attachService.name}"></p>
                            </th:block>
                        </td>
                        <td><a th:href="@{/contract/view/{id}(id=${contract.id})}">Xem</a></td>
                        <td><a th:href="@{/contract/edit/{id}(id=${contract.id})}">Sửa</a></td>
                        <td><a th:href="@{/contract/delete/{id}(id=${contract.id})}" onclick="return confirm('Bạn muốn xóa hợp đồng này không?')">Xóa</a></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div>
                <a th:href="@{/contract(search=${search},page=${contracts.number - 1})}" th:if="${contracts.hasPrevious()}">Previous</a>
                <span th:text="${contracts.number + 1}"></span>/<span th:text="${contracts.totalPages}"></span>
                <a th:href="@{/customer(search=${search},page=${contracts.number + 1})}" th:if="${contracts.hasNext()}">Next</a>
            </div>
        </div>
    </div>
    <div>
<!--        footer-->
    </div>
</div>
</body>
</html>