<table xmlns:th="http://www.thymeleaf.org" class="table table-striped mr-auto ml-auto col-9">
    <tr>
        <td scope="col">Mã khách hàng:</td>
        <td scope="col" th:text="${customer.id}"></td>
    </tr>
    <tr>
        <td scope="col">Tên khách hàng:</td>
        <td scope="col" th:text="${customer.name}"></td>
    </tr>
    <tr>
        <td scope="col">Loại khách hàng:</td>
        <td scope="col" th:text="${customer.customerType.name}"></td>
    </tr>
    <tr>
        <td scope="col" >Ngày sinh:</td>
        <td scope="col" th:text="${customer.birthday}"></td>
    </tr>
    <tr>
        <td scope="col">SĐT:</td>
        <td scope="col" th:text="${customer.phone}"></td>
    </tr>
    <tr>
        <td scope="col">Email:</td>
        <td scope="col" th:text="${customer.email}"></td>
    </tr>
</table>