<table xmlns:th="http://www.thymeleaf.org" class="table table-striped mr-auto ml-auto col-9">
    <tr>
        <td scope="col">Mã dịch vụ:</td>
        <td scope="col" th:text="${service.id}" id="selected-service-id" th:value="${service.id}"></td>
    </tr>
    <tr>
        <td scope="col">Tên dịch vụ:</td>
        <td scope="col" th:text="${service.name}"></td>
    </tr>
    <tr>
        <td scope="col">Loại dịch vụ:</td>
        <td scope="col" th:text="${service.serviceType.name}"></td>
    </tr>
    <tr>
        <td scope="col">Giá:</td>
        <td scope="col" th:text="${#numbers.formatDecimal(service.cost, 0, 'POINT', 0, 'COMMA')}"></td>
    </tr>
</table>
