<h3 class="text-center">Thông tin dịch vụ</h3>
<table class="mr-auto ml-auto mt-3 table table-striped col-6">
  <tr>
    <td>Mã dịch vụ</td>
    <td>{{service.service_id}}</td>
  </tr>
  <tr>
    <td>Tên dịch vụ</td>
    <td>{{service.name}}</td>
  </tr>
  <tr>
    <td>Diện tích</td>
    <td>{{service.area}}</td>
  </tr>
  <tr>
    <td>Số lượng khách tối đa</td>
    <td>{{service.max_people}}</td>
  </tr>
  <tr>
    <td>Kiểu thuê</td>
    <td>{{service.rent_type}}</td>
  </tr>
  <tr>
    <td>Giá tiền</td>
    <td>{{service.price}}</td>
  </tr>
</table>
<div class="col-3 mr-auto ml-auto mb-3 d-flex justify-content-around">
  <a class="btn btn-sm btn-primary" routerLink="/service">Quay lại</a>
</div>
