<div class="d-flex flex-row justify-content-between mb-2">
  <a class="btn btn-primary" routerLink="/contract/create"><i class="far fa-plus-square"></i> Thêm hợp đồng</a>
  <div class="d-flex flex-row">
    <input class="form-control mr-2" type="text" [(ngModel)]="searchValue">
    <select class="form-control mr-2" #searchOption>
      <option value="all" selected>Vui lòng chọn</option>
      <option value="id">Mã hợp đồng</option>
      <option value="customer">Tên khách hàng</option>
      <option value="amount">Giá trị hợp đồng</option>
    </select>
    <button class="btn btn-outline-primary btn-sm btn-search" (click)="doSearch(searchOption)">Tìm kiếm</button>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr class="text-center">
    <th>Mã HĐ</th>
    <th>Tên khách hàng</th>
    <th>Tên dịch vụ</th>
    <th>Giá</th>
    <th>Ngày bắt đầu</th>
    <th>Ngày kết thúc</th>
    <th>Dịch vụ đi kèm</th>
    <th>Thành tiền</th>
  </tr>
  </thead>
  <tbody class="justify-content-center">
  <tr *ngFor="let contract of contracts | paginate: {itemsPerPage: 3, currentPage: page}">
    <td class="text-center">{{contract.id}}</td>
    <td>{{contract.customer.name}}</td>
    <td>{{contract.service.name}}</td>
    <td class="text-right">{{contract.service.price | number}}</td>
    <td class="text-center">{{contract.stay_period.start_date}}</td>
    <td class="text-center">{{contract.stay_period.end_date}}</td>
    <td>
      <table class="text-decoration-none">
        <tr *ngFor="let detail of contract.contract_detail" class="text-sm-left">
          <td class="col">{{detail.attach_service.name}}</td>
          <td class="col text-right">{{detail.attach_service.price | number}}</td>
          <td class="col">{{detail.quantity}}</td>
        </tr>
      </table>
    </td>
    <td class="text-right font-weight-bold">{{contract.amount | number}}</td>
  </tr>
  </tbody>
</table>
<div class="d-flex flex-row justify-content-center">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

