html body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}
.main{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
}
.left-content{
    width: 60%;
}
.right-content{
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: none;
    box-shadow: 2px 2px darkgrey;
    padding: 30px;
    justify-content: space-between;
    height: 50%;
    border-radius: 15px;
}
.logo{
    width: 50%;
    margin: 0;
}
input{
    border: 0.5px solid #dddfe2;
    border-radius: 10px;
    collapse: 5px;
    width: 100%;
    height: 30px;
    padding: 10px;
    font-family: Arial, serif;
}
.sign-in-button{
    border: none;
    background-color: #166fe5;
    width: 100%;
    height: 15%;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
a{
    color: #166fe5;
    text-decoration: none;
    cursor: pointer;
}
.register-button{
    background-color: #42B72A;
    width: 50%;
    height: 40px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
p{
    margin: 0 20px 0 40px;
    font-size: 30px;
    font-family: Arial;
}

