<h3 class="text-center">Thông tin nhân viên</h3>
<table class="mr-auto ml-auto mt-3 table table-striped col-6">
  <tr>
    <td>Mã nhân viên</td>
    <td>{{employee.em_id}}</td>
  </tr>
  <tr>
    <td>Tên nhân viên</td>
    <td>{{employee.name}}</td>
  </tr>
  <tr>
    <td>Ngày sinh</td>
    <td>{{employee.birthday}}</td>
  </tr>
  <tr>
    <td>Vị trí</td>
    <td>{{employee.position}}</td>
  </tr>
  <tr>
    <td>Bộ phân</td>
    <td>{{employee.department}}</td>
  </tr>
  <tr>
    <td>Số CMND</td>
    <td>{{employee.id_card}}</td>
  </tr>
  <tr>
    <td>SĐT</td>
    <td>{{employee.phone}}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{employee.email}}</td>
  </tr>
  <tr>
    <td>Trình độ</td>
    <td>{{employee.degree}}</td>
  </tr>
</table>
<div class="col-3 mr-auto ml-auto mb-3 d-flex justify-content-around">
  <a class="btn btn-sm btn-primary" routerLink="/employee"><i class="fas fa-arrow-circle-left"></i> Quay lại</a>
</div>
