.name-card {
  display: flex;
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.name-card__content-left {
  max-width: 35%;
}

.name-card__avatar {
  max-width: 100%;
  display: block;
}
