<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="/customer/layout::header">
<!--        header-->
    </div>
    <div th:insert="/customer/layout::navbar">
<!--        navbar-->
    </div>
    <div class="row">
<!--        main-->
        <div th:replace="/customer/layout::left-panel">
<!--            left panel-->
        </div>
        <div class="col-sm-10">
<!--            content-->
            <table class="table table-stripe">
                <thead>
                    <tr>
                        <td>Mã khách hàng</td>
                        <td>Hạng khách</td>
                        <td>Họ tên</td>
                        <td>Ngày sinh</td>
                        <td>Số điện thoại</td>
                        <td>Email</td>
                        <td>Chi tiết</td>
                        <td>Chỉnh sửa</td>
                        <td>Xóa</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="customer : ${customers}">
                        <td th:text="${customer.id}"></td>
                        <td th:text="${customer.customerType.name}"></td>
                        <td th:text="${customer.name}"></td>
                        <td th:text="${customer.birthday}"></td>
                        <td th:text="${customer.phone}"></td>
                        <td th:text="${customer.email}"></td>
                        <td><a th:href="@{/customer/view/{id}(id=${customer.id})}">Xem</a></td>
                        <td><a th:href="@{/customer/edit/{id}(id=${customer.id})}">Sửa</a></td>
                        <td><a th:href="@{/customer/delete/{id}(id=${customer.id})}">Xóa</a></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a th:href="@{/customer(search=${search},page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
                <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
                <a th:href="@{/customer(search=${search},page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
            </div>
        </div>
    </div>
    <div>
<!--        footer-->
    </div>
</div>
</body>
</html>