<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <!--    Menu-->
    <div th:replace="layout::menu">
    </div>
    <!--    Categories-->


    <!--    Content-->
    <div>
        <h4 th:text="${blog.title}"></h4>
        <p th:text="${blog.category.name}"></p>
        <p>Posted: <span th:text="${blog.createdTime}"></span></p>
        <p th:text="${blog.content}"></p>
        <a th:href="@{/}">Back to list</a>
    </div>
</div>
</body>
</html>