<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

</head>

<body>
  <h1>TypeScript Fundamentals</h1>
  <div>
    Open console to see more information
  </div>

  <ol>
    <li>
      <a href="fundamentals.html">TypeScript Fundamentals</a>
    </li>
    <li>
      <a href="control-flow.html">TypeScript if/else &amp; loop</a>
    </li>
    <li>
      <a href="array.html">TypeScript Array</a>
    </li>
    <li>
      <a href="functions.html">TypeScript Function</a>
    </li>
    <li>
      <a href="object.html">TypeScript Object</a>
    </li>
    <li>
      <a href="promise.html">TypeScript Promise</a>
    </li>
    <li>
      <a href="/exercise/">Bài tập</a>
    </li>
  </ol>
</body>

</html>
