<h3 class="text-center">Thông tin khách hàng</h3>
<table class="mr-auto ml-auto mt-3 table table-striped col-6">
  <tr>
    <td>Mã khách hàng</td>
    <td>{{customer.cus_id}}</td>
  </tr>
  <tr>
    <td>Tên khách hàng</td>
    <td>{{customer.name}}</td>
  </tr>
  <tr>
    <td>Ngày sinh</td>
    <td>{{customer.birthday}}</td>
  </tr>
  <tr>
    <td>Giới tính</td>
    <td>{{customer.gender}}</td>
  </tr>
  <tr>
    <td>Số CMND</td>
    <td>{{customer.id_card}}</td>
  </tr>
  <tr>
    <td>SĐT</td>
    <td>{{customer.phone}}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{customer.email}}</td>
  </tr>
  <tr>
    <td>Hạng khách</td>
    <td>{{customer.cus_type.name}}</td>
  </tr>
  <tr>
    <td>Địa chỉ</td>
    <td>{{customer.address}}</td>
  </tr>
</table>
<div class="col-3 mr-auto ml-auto mb-3 d-flex justify-content-around">
  <a class="btn btn-sm btn-primary" routerLink="/customer"><i class="fas fa-arrow-circle-left"></i> Quay lại</a>
</div>
