<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Products</h3>
<p>
    <a th:href="@{/product/create}">
        Add new product
    </a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id = "products">
    <thead>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Price</th>
        <th>Manufacture</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product,r : ${products}">
        <td th:text="${r.count}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getManufacture()}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${product.getId()})}">edit</a></td>
        <td><a th:href="@{/product/{id}/delete(id=${product.getId()})}">delete</a></td>
        <td><a th:href="@{/product/{id}/view(id=${product.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="layout :: footer"></footer>
</body>
</html>

