<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid px-0">
    <div th:replace="~{/layout::header}">
        <!--        header-->
    </div>
    <div th:insert="~{/layout::navbar}">
        <!--        navbar-->
    </div>
    <div class="website-body">
        <!--        main-->
        <div th:replace="~{/layout::service-left-panel}">
            <!--            left panel-->
        </div>
        <div class="main-content col-10 mr-auto ml-auto">
<!--            content-->
            <table class="table table-striped">
                <thead class="font-weight-bold text-center">
                        <td>Loại Dịch vụ</td>
                        <td>Mã dịch vụ</td>
                        <td>Tên dịch vụ</td>
                        <td>Diện tích</td>
                        <td>Số khách tối đa</td>
                        <td>Kiểu thuê</td>
                        <td>Giá</td>
                </thead>
                <tbody>
                    <tr th:each="service : ${services}">
                        <td class="text-center" th:text="${service.serviceType.name}"></td>
                        <td class="text-center" th:text="${service.id}"></td>
                        <td th:text="${service.name}"></td>
                        <td class="text-center" th:text="${service.area}"></td>
                        <td class="text-center" th:text="${service.maxPeople}"></td>
                        <td class="text-center" th:text="${service.rentType.name}"></td>
                        <td class="text-right" th:text="${#numbers.formatDecimal(service.cost, 0, 'POINT', 0, 'COMMA')}"></td>
                    </tr>
                </tbody>
            </table>
            <div class="mr-auto ml-auto">
                <a class="btn btn-secondary btn-sm" th:href="@{/service(search=${search},page=${services.number - 1})}" th:if="${services.hasPrevious()}">Previous</a>
                <span th:text="${services.number + 1}"></span>/<span th:text="${services.totalPages}"></span>
                <a class="btn btn-secondary btn-sm" th:href="@{/service(search=${search},page=${services.number + 1})}" th:if="${services.hasNext()}">Next</a>
            </div>
        </div>
    </div>
    <div th:replace="~{/layout::footer}">
        <!--        footer-->
    </div>
</div>
</body>
</html>