<div class="d-flex flex-row justify-content-between mb-2">
  <a class="btn btn-primary" routerLink="/employee/create"><i class="far fa-plus-square"></i> Thêm nhân viên</a>
  <div class="d-flex flex-row">
    <input class="form-control mr-2" type="text" placeholder="Tìm kiếm" [(ngModel)]="searchValue">
    <button class="btn btn-outline-primary btn-sm btn-search" (click)="doSearch()">Tìm kiếm</button>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Mã NV</th>
    <th>Tên NV</th>
    <th>Email</th>
    <th>Chức vụ</th>
    <th>Bộ phận</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees | paginate: {itemsPerPage: 5, currentPage: page}">
    <td>{{employee.em_id}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.email}}</td>
    <td>{{employee.position}}</td>
    <td>{{employee.department}}</td>
    <td class="d-flex flex-row justify-content-around">
      <a class="btn btn-info" [routerLink]="['view', employee.id]"><i class="far fa-file-alt"></i> Xem</a>
      <a class="btn btn-success" [routerLink]="['edit', employee.id]"><i class="far fa-edit"></i> Sửa</a>
      <button class="btn btn-danger" data-toggle="modal" data-target="#delete-modal" (click)="selectEmployee(employee)"><i class="far fa-trash-alt"></i> Xóa</button>
    </td>
  </tr>
  </tbody>
</table>
<div class="d-flex flex-row justify-content-center">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cảnh báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa nhân viên <label class="text-danger font-weight-bold">{{selectedEmployee.name}}</label> không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteEmployee(selectedEmployee.id)">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

