<div class="d-flex flex-row justify-content-between mb-2">
  <a class="btn btn-primary" routerLink="/customer/create"><i class="far fa-plus-square"></i> Thêm khách hàng</a>
  <div class="d-flex flex-row">
    <input class="form-control mr-2" type="text" [(ngModel)]="searchValue" (change)="doSearch()" placeholder="Tìm kiếm">
    <button class="btn btn-outline-primary btn-sm btn-search" (click)="doSearch()">Tìm kiếm</button>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Mã KH</th>
    <th>Tên KH</th>
    <th>Ngày sinh</th>
    <th>Giới tính</th>
    <th>Hạng khách</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers | paginate: {itemsPerPage: 5, currentPage: page}">
    <td>{{customer.cus_id}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.birthday}}</td>
    <td>{{customer.gender}}</td>
    <td>{{customer.cus_type.name}}</td>
    <td class="d-flex flex-row justify-content-around">
      <a class="btn btn-info" [routerLink]="['view', customer.id]"><i class="far fa-file-alt"></i> Xem</a>
      <a class="btn btn-success" [routerLink]="['edit', customer.id]"><i class="far fa-edit"></i> Sửa</a>
      <button class="btn btn-danger" data-toggle="modal" data-target="#delete-modal" (click)="selectCustomer(customer)"><i class="far fa-trash-alt"></i> Xóa</button>
    </td>
  </tr>
  </tbody>
</table>
<div class="d-flex flex-row justify-content-center">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cảnh báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa khách hàng <label class="text-danger font-weight-bold">{{selectedCustomer.name}}</label> không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteCustomer(selectedCustomer.id)">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
