<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${cart != null}">
    <table>
        <tr>
            <td>Mã hàng</td>
            <td>Tên hàng</td>
            <td>Đơn giá</td>
            <td>Số lượng</td>
        </tr>
        <tr th:each="item : ${cart}">
            <td th:text="${item.getKey().getId()}"></td>
            <td th:text="${item.getKey().getName()}"></td>
            <td th:text="${item.getKey().getPrice()}"></td>
            <th:block th:if="${item.getKey().getId() != id}">
                <td>
                    <span th:text="${item.getValue()}"></span>
                    <a th:href="@{/cart(id=${item.getKey().getId()})}">Sửa</a>
                </td>
            </th:block>
            <th:block th:if="${item.getKey().getId() == id}">
                <td>
                    <form method="get" th:action="@{/updateCart}">
                        <input type="text" name="id" th:value="${id}" hidden>
                        <input type="number" name="quantity" th:value="${item.getValue()}">
                        <input type="submit" value="Lưu">
                    </form>
                </td>
            </th:block>
            <td><a th:href="@{/delete(id=${item.getKey().getId()})}">Xóa</a></td>
        </tr>
    </table>
    <a th:href="@{/delete}">Xóa giỏ hàng</a>
    <a th:href="@{/}">Danh mục hàng</a>
</div>
</body>
</html>