<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>CODEGYM SHOP</h3>
<a href="/cart">Cart</a>
<hr>
<div th:if="${items != null}">
    <table>
        <tr>
            <td>Mã hàng</td>
            <td>Tên hàng</td>
            <td>Đơn giá</td>
            <td>Số lượng</td>
            <td></td>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td>
                <form th:action="@{/addCart}" method="get">
                    <input name="id" type="text" th:value="${item.id}" hidden>
                    <input type="number" name="quantity" value="1">
                    <input type="submit" value="Add cart">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>